{% extends 'clients/includes/base.html' %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/clients.css' %}">
  {% comment %} --------------------------- {% endcomment %}
          <br> <br> <br>




  <div class="container-fluid ">
 
    
    
    
          <div class="row p-3 bg-light">
                <div class="container-fluid">

            <div class="image" style="text-align:center">
                  {% load static %}
                 <img class="doc_image" src="{% static 'dist/img/about.jpeg' %}"  style="width:650px;">
            </div>

           
        
           
 
     </div>
  <!--   end Row      -->

           
     

<br><br><br><br><br><br>
</div>

 


<br><br>

{% endblock %}

  {% block javascript %}
  {% endblock %}