{% extends 'admin/includes/base.html' %}


{% block content %}
<br> <br> <br>
  {% load static %}

  <style>
    table {
             border: solid 1px gray;
             width : 100%;
             font-family:GE Dinkum;                     
             background-color:rgba(173,216,230,0.3);                     
      }

      thead {
             border: solid 2px gray;
             text-align:center;
             background:  #444444;
             color: #DB9437;
             font-size:22px;
      }
        td {
             border: solid 1px gray;
             font-size:20px;
             text-align:center;
      }

       .number_intable {
         text-align:center;font-family:Arial;font-size:18px;
   }

</style>  
<link rel="stylesheet" href="{% static 'css/clients.css' %}">
  {% comment %} --------------------------- {% endcomment %}
  <div class="container-fluid ">
<!--   main Row      -->
    <div class="row">
 <!--   column number 1      -->
    <div class="col-md-2">
                  <br>
                <div style="text-align:center">
          <a class="navbar-brand" href="{% url 'cases:index' %}">
           {% load static %}
          <img src="{% static 'dist/img/logo.png' %}" alt="Logo" style="height: 130px;"> </a>
    </div>
                   {% include "admin/sidebar/sidebar1.html" %}
  </div>
  <!--   end column number 1      -->

<!--   column number 2      -->
   <div class="col-md-10">
      <div class="container">

           <br>
          <div class="row p-2 bg-light">
               <p  class="txt_client">كشف باسماء كافة الموكلين</p>
            <hr>

              
            <div id="client_report">
            <table>
                  <thead >

                    <td></td>
                    <td>رقم الموكل</td>
                    <td>اسم الموكل</td>
                    <td>عدد القضايا</td>
                     <td>عدد الاستشارات</td>
                    <td>جنسية الموكل</td>
                    <td>العنوان</td>
                    <td>الهاتف</td>

                     <td style="color:#DB9437;text-align:center" class="client2_txt">العمليات</td>
                  </thead>

                  
            {% for client in all_clients %}
                <tr >

                <td><i class="far fa-user nav-icon text-secondary"></i></td>

               <td>{{client.client_id}} </td>
               <td style="text-align:right">{{client.client_name}} </td>
               <td>{{ client.num_cases }}</td>
               <td>0</td>
               <td>{{client.nationality}} </td>
               <td  style="text-align:right">{{client.address}} </td>
               <td>{{client.contact}} </td>

               {% if client.client_id == '01' %}                   
                   <td >
                       <a href="{% url 'cases:client_cases' %}"> <button  type="button" class="btn  btn-sm client_btn btn-success ">قضايا الموكل</button></a>
               {% else %}        
                   <td >
                   <button  type="button" class="btn  btn-sm client_btn btn-secondary ">قضايا الموكل</button> 
               {% endif %}
                       

                </td>

           </tr>
                {% endfor %}
            </table>
        </div>
   </div>
</div>
 </div>


{% endblock %}